<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cesgroup.agr.mapper.AccountsMapper">
  <resultMap id="BaseResultMap" type="com.cesgroup.agr.entity.Accounts">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ep_id" jdbcType="VARCHAR" property="epId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
</mapper>