<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cesgroup.agr.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.cesgroup.agr.entity.Customer">
    <result column="ep_id" jdbcType="VARCHAR" property="epId" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="contract_person" jdbcType="VARCHAR" property="contractPerson" />
    <result column="contract_phone" jdbcType="VARCHAR" property="contractPhone" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="direction_type" jdbcType="VARCHAR" property="directionType" />
    <result column="sale_address" jdbcType="VARCHAR" property="saleAddress" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="balance_type" jdbcType="VARCHAR" property="balanceType" />
    <result column="balance_number" jdbcType="VARCHAR" property="balanceNumber" />
    <result column="seller" jdbcType="VARCHAR" property="seller" />
    <result column="seller_no" jdbcType="VARCHAR" property="sellerNo" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="licence_begin_time" jdbcType="TIMESTAMP" property="licenceBeginTime" />
    <result column="licence_end_time" jdbcType="TIMESTAMP" property="licenceEndTime" />
    <result column="business_licence" jdbcType="VARCHAR" property="businessLicence" />
    <result column="business_licence_date" jdbcType="TIMESTAMP" property="businessLicenceDate" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="temporary_address" jdbcType="VARCHAR" property="temporaryAddress" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="is_used" jdbcType="TINYINT" property="isUsed" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="is_touch" jdbcType="TINYINT" property="isTouch" />
  </resultMap>
  <select id="selectList" resultType="com.cesgroup.agr.entity.Customer">
	  	SELECT
			cu.*
		FROM
			customer cu
		WHERE
			cu.delete_flg = #{deleteFlg}
			<if test="customerCode != null and customerCode != ''">
				AND cu.customer_code = #{customerCode}
			</if>
			<if test="customerName != null and customerName != ''">
				AND cu.customer_name = #{customerName}
			</if>
			<if test="customerType != null and customerType != ''">
				AND cu.customer_type = #{customerType}
			</if>
			<if test="legalPerson != null and legalPerson != ''">
				AND cu.legal_person = #{legalPerson}
			</if>
			<if test="licence != null and licence != ''">
				AND cu.licence = #{licence}
			</if>
			<if test="businessLicence != null and businessLicence != ''">
				AND cu.business_licence = #{businessLicence}
			</if>
			<if test="sex != null and sex != ''">
				AND cu.sex = #{sex}
			</if>
			<if test="seller != null and seller != ''">
				AND cu.seller = #{seller}
			</if>
			<if test="sellerNo != null and sellerNo != ''">
				AND cu.seller_no = #{sellerNo}
			</if>
			<if test="contractPerson != null and contractPerson != ''">
				AND cu.contract_person = #{contractPerson}
			</if>
			<if test="directionType != null and directionType != ''">
				AND cu.direction_type = #{directionType}
			</if>
			<if test="isUsed != null and isUsed != ''">
				AND cu.is_used = #{isUsed}
			</if>
			<if test="epId != null and epId != ''">
				AND cu.ep_id = #{epId}
			</if>
  </select>
</mapper>