<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cesgroup.agr.mapper.LinkMeatWholesaleMapper">
  <resultMap id="BaseResultMap" type="com.cesgroup.agr.entity.LinkMeatWholesale">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ep_id" jdbcType="VARCHAR" property="epId" />
    <result column="slaughterhouse_id" jdbcType="VARCHAR" property="slaughterhouseId" />
    <result column="approach_id" jdbcType="VARCHAR" property="approachId" />
  </resultMap>
</mapper>