<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cesgroup.agr.mapper.MeatApproachMapper">
  <resultMap id="BaseResultMap" type="com.cesgroup.agr.entity.MeatApproach">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ep_id" jdbcType="VARCHAR" property="epId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="link_slaughterhouse_id" jdbcType="VARCHAR" property="linkSlaughterhouseId" />
    <result column="link_supplier_id" jdbcType="VARCHAR" property="linkSupplierId" />
    <result column="link_brand_id" jdbcType="VARCHAR" property="linkBrandId" />
    <result column="link_product_id" jdbcType="VARCHAR" property="linkProductId" />
    <result column="division_id" jdbcType="VARCHAR" property="divisionId" />
    <result column="approach_date" jdbcType="DATE" property="approachDate" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="sum_money" jdbcType="DECIMAL" property="sumMoney" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
</mapper>